nav {
    background-color: #aa2200;
    width:100%;
    height: 100px
}
div.box {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80%;
    float: right;
    background-color: #a34709;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;;
}

header {
    text-align: center;
}

.locations {
    text-align: center;
    background-color: #49b055;
    display: flex;
    justify-content: space-between;
}

.location-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.location-box {
  background-color: #801818; /* dark grey */
  color: white;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer{
    position: absolute;
    background-color: #aa2200;
    width: 100%;
    bottom:0;
    text-align: center;
    color: rgb(238,134,108);
}
